@import '@fontsource-variable/noto-sans/index.css';

@import './colors.css';

:root {
	--color-light-surface: var(--color-neutral-50);
	--color-light-surface-container-lowest: var(--color-white);
	--color-light-surface-container-low: var(--color-neutral-100);
	--color-light-surface-container: var(--color-neutral-150);
	--color-light-surface-container-high: var(--color-neutral-200);
	--color-light-surface-container-highest: var(--color-neutral-250);
	--color-light-on-surface: var(--color-black);
	--color-light-on-surface-variant: var(--color-neutral-700);

	--color-dark-surface: var(--color-neutral-900);
	--color-dark-surface-container-lowest: var(--color-neutral-950);
	--color-dark-surface-container-low: var(--color-neutral-850);
	--color-dark-surface-container: var(--color-neutral-800);
	--color-dark-surface-container-high: var(--color-neutral-750);
	--color-dark-surface-container-highest: var(--color-neutral-700);
	--color-dark-on-surface: var(--color-neutral-50);
	--color-dark-on-surface-variant: var(--color-neutral-300);

	--color-surface: light-dark(var(--color-light-surface), var(--color-dark-surface));
	--color-surface-container-lowest: light-dark(
		var(--color-light-surface-container-lowest),
		var(--color-dark-surface-container-lowest)
	);
	--color-surface-container-low: light-dark(
		var(--color-light-surface-container-low),
		var(--color-dark-surface-container-low)
	);
	--color-surface-container: light-dark(
		var(--color-light-surface-container),
		var(--color-dark-surface-container)
	);
	--color-surface-container-high: light-dark(
		var(--color-light-surface-container-high),
		var(--color-dark-surface-container-high)
	);
	--color-surface-container-highest: light-dark(
		var(--color-light-surface-container-highest),
		var(--color-dark-surface-container-highest)
	);
	--color-on-surface: light-dark(var(--color-light-on-surface), var(--color-dark-on-surface));
	--color-on-surface-variant: light-dark(
		var(--color-light-on-surface-variant),
		var(--color-dark-on-surface-variant)
	);

	--color-primary: var(--color-blue-500);

	--size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-7: 1.75rem;
	--size-8: 2rem;

	--font-size-small: 0.75rem; /* 12px * 1.25 = 15px */
	--font-size-base: 1rem; /* 16px * 1.25 = 20px */
	--font-size-large: 1.25rem; /* 20px * 1.25 = 25px */
	--font-size-xlarge: 1.5rem; /* 24px * 1.25 = 30px */

	--line-height: 1.25;

	--size-stroke: 1px;
	--size-stroke-bold: 2px;

	--border-neutral: solid var(--color-neutral-emphasize) var(--size-stroke);
	--outline-focus: var(--size-stroke-bold) solid var(--color-primary-muted);
	--shadow-elevated: 0 var(--size-stroke) var(--size-stroke-bold) 0 var(--color-neutral-emphasize);

	font-size: 16px;
	font-family: 'Noto Sans', system-ui, sans-serif;
	color-scheme: light dark;
}

body {
	background-color: var(--color-surface);
	color: var(--color-on-surface);
	margin: 0;
	line-height: var(--line-height);
}

/* normalize */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: var(--line-height);
	margin: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}
