@import '@fontsource-variable/noto-sans/index.css';

@import './base-colors.css';
@import './theme-colors.css';

:root {
	--mix-hover: 8%;
	--mix-focus: 10%;

	--size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-7: 1.75rem;
	--size-8: 2rem;

	--font-size-small: 0.75rem; /* 12px * 1.25 = 15px */
	--font-size-base: 1rem; /* 16px * 1.25 = 20px */
	--font-size-large: 1.25rem; /* 20px * 1.25 = 25px */
	--font-size-xlarge: 1.5rem; /* 24px * 1.25 = 30px */

	--line-height: 1.25;

	--size-stroke: 1px;
	--size-stroke-bold: 2px;

	--outline-focus: var(--size-stroke-bold) solid var(--color-primary);

	--shadow-elevated: 0 1px 2px 0 var(--color-key-shadow), 0 1px 3px 0 var(--color-ambient-shadow);

	font-size: 16px;
	font-family: 'Noto Sans', system-ui, sans-serif;
	color-scheme: light dark;
}

body {
	background-color: var(--color-surface);
	color: var(--color-on-surface);
	margin: 0;
	line-height: var(--line-height);
}

/* normalize */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: var(--line-height);
	margin: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}

/* vendor specific */

.unplugin-icon {
	display: inline-block;
	vertical-align: middle;
	height: calc(1em * var(--line-height));
	width: calc(1em * var(--line-height));
}
