@import '@fontsource-variable/noto-sans/index.css';

@import './colors.css';

:root {
	--color-surface: var(--color-zinc-100);
	--color-surface-container-lowest: var(--color-zinc-50);
	--color-surface-container-low: var(--color-zinc-100);
	--color-surface-container: var(--color-zinc-200);
	--color-surface-container-high: var(--color-zinc-300);
	--color-surface-container-highest: var(--color-zinc-400);
	--color-on-surface: var(--color-zinc-900);
	--color-on-surface-variant: var(--color-zinc-700);

	--color-primary: var(--color-blue-500);

	--size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-7: 1.75rem;
	--size-8: 2rem;

	--font-size-small: 0.75rem; /* 12px * 1.25 = 15px */
	--font-size-base: 1rem; /* 16px * 1.25 = 20px */
	--font-size-large: 1.25rem; /* 20px * 1.25 = 25px */
	--font-size-xlarge: 1.5rem; /* 24px * 1.25 = 30px */

	--line-height: 1.25;

	--size-stroke: 1px;
	--size-stroke-bold: 2px;

	--border-neutral: solid var(--color-neutral-emphasize) var(--size-stroke);
	--outline-focus: var(--size-stroke-bold) solid var(--color-primary-muted);
	--shadow-elevated: 0 var(--size-stroke) var(--size-stroke-bold) 0 var(--color-neutral-emphasize);

	font-size: 16px;
	font-family: 'Noto Sans', system-ui, sans-serif;
}

body {
	background-color: var(--color-surface);
	margin: 0;
	line-height: var(--line-height);
}

/* normalize */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: var(--line-height);
	margin: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}
